- popoverClassName  = (allDay ? ' is-all-day' : '')
- popoverClassName += (sameDay? ' is-same-day' : '')

.popover-content-wrapper(class=popoverClassName)
    label.timed(aria-hidden="#{allDay}")
        span.caption= t("From")
        input.input-start.input-time(tabindex="4",
                                     type="time",
                                     size="5"
                                     placeholder=t("From [hours:minutes]"),
                                     value=start.format(tFormat))

    label.aside
        input.input-allday(tabindex="3",
                           type="checkbox",
                           value='checked',
                           checked=allDay)
        span.caption= t('All day')

    label.timed(aria-hidden="#{allDay}")
        span.input-end-caption.caption= t("To")
        input.input-end-time.input-time(tabindex="5",
                                        type="time",
                                        size="5"
                                        placeholder=t("To [hours:minutes]"),
                                        value=end.format(tFormat))
    label.end-date
        span.caption
            = allDay? t(sameDay? "All one day" : "All day, until") : ","
            |&nbsp;
        input.input-end-date.input-date(tabindex="6",
                                        type="date",
                                        size="10"
                                        placeholder=t("To [date]"),
                                        value=end.format(dFormat))

    if files.length > 0
        label.file
            span.title-link= t('Fichiers du cours :')
            a.file(role="button") #{description}

    label.links
        if links.length > 0
            if links.length > 1
                span.title-link= t('Liens concernant le cours : ')
                    p
                      for link in links
                          label.link
                             a.link-course(href = link.url) #{t(link.text)}
            else
                span.title-link= t('Lien concernant le cours : ')
                    a.link-course(href = links[0].url) #{t(links[0].text)}

.popover-footer
    a.advanced-link(role="button",
                    tabindex="8",
                    href='#'+advancedUrl,
                    data-tabindex-next="1")
        = t('advanced')
    a.btn.add(role="button",
              tabindex="7")
        = editionMode ? t('Edit') : t('Create')
